main {
  padding: 10% 5%;
}

h1 {
  font-family: 'Alegreya', serif;
  font-weight: 700;
  line-height: 46px;
  font-size: 46px;
  text-align: center;
}
  
h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: normal;
    font-size: 28px;
    line-height: 23px;
    text-transform: uppercase;
    margin: 0.2em 0;
}

h3 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: normal;
  font-size: 21px;
  line-height: 23px;
  text-transform: uppercase;
  margin: 0.2em 0;
}

p, button {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin: 0.4em 0;
}

ul {
  list-style-type: none;
}

input, textarea {
  display: block;
  width: 100%;
  border: solid 1px black;
  border-radius: 3px;
  padding: 10px;
  margin: 5% auto;
  -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
  -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
  box-sizing: border-box;
}

footer {
  background-color: darkgray;
  text-align: right;
  padding: 2% 10% 10%;
  margin-top: 5%;
}

button, .button {
  border: solid 1px black;
  background-color: lightblue;
  padding: 0.75em 1em;
  border-radius: 5px;
}

form button {
  float: right;
}

footer p {
  font-size: 1.5em;
  color: white;
}